.container {
  background-color: #343a40;
  height: 90%;
  width: 65%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1.2fr 2px 3fr;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  border-top: #464e55 4px solid;
  border-left: #464e55 4px solid;
}

.separator {
  background-color: #212529;
}

.mainContent {
  display: grid;
  grid-template-rows: 2fr 2px 1fr;
}

.pending {
  border-bottom: #15181c 2px solid;
  border-left: #464e55 2px solid;
}

.completed {
  border-top: #464e55 2px solid;
  border-left: #464e55 2px solid;
}
