.container {
  background-color: #343a40;
  height: 90%;
  min-width: 75%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: minmax(200px, 1.2fr) 2px 3fr;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  border-top: #464e55 4px solid;
  border-left: #464e55 2px solid;
}

.separator {
  background-color: #212529;
}

.mainContent {
  display: grid;
  grid-template-rows: 1.5fr 2px 1fr;
  overflow: hidden;
}

.pending {
  overflow: hidden;
  border-bottom: #15181c 2px solid;
  border-left: #464e55 2px solid;
  display: grid;
  max-height: 100%;
  grid-template-rows: min-content minmax(0, 100%);
}

.completed {
  overflow: hidden;
  border-top: #464e55 2px solid;
  border-left: #464e55 2px solid;
  display: grid;
  grid-template-rows: min-content 1fr;
  height: 100%;
}

.dashboardHeader {
  font-size: calc(1vw + 1rem);
}

.sidebar {
  border-right: #15181c 2px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 2;

  .dashboardHeader:nth-of-type(2) {
    margin-top: clamp(0.5rem, 0.5rem + 1vw, 1rem);
    margin-bottom: clamp(1rem, 1rem + 1vw, 1.5rem);
  }
}

.burgerMenu,
.goBack {
  display: none;
}

#projectButtons {
  display: flex;
  flex-direction: row;

  #deleteProject {
    background: hsl(0, 82%, 63%);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2), inset 0px 2px 0px hsl(0, 67%, 77%);
  }
}

.github {
  margin-top: auto;

  h2 {
    margin: 0.7rem 0;

    a {
      text-decoration: none;
      color: #e7e7e7;
    }
  }
}
