.field {
  display: flex;
  flex-direction: column;
  gap: 0.4vw;

  label {
    font-size: calc(1vw + 6px);
  }

  input,
  select,
  textarea {
    font-size: calc(0.8vw + 4px);
    border: none;
    outline: none;
    background: #212529;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15), inset 0px 2px 2px rgba(0, 0, 0, 0.1);
    padding: calc(0.5vw + 2px);
    border-radius: 0.5vw;
    color: #f8f9fa;
  }
}

.DuedateField {
  input {
    font-size: calc(0.8vw + 4px);
  }

  ::-webkit-calendar-picker-indicator {
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
    filter: invert(1);
  }
}

.newForm {
  min-width: 35vw;
  padding: calc(1vw + 6px);
  display: grid;
  grid-template-columns: min-content 2fr;
  gap: calc(0.5vw + 4px);
}

.TitleField {
  grid-column: 1 / 3;
}

.DescriptionField {
  grid-column: 1 / 3;

  textarea {
    resize: none;
    height: 20vh;
    max-height: 20vh;
  }
}

.PriorityField {
  select {
    height: 100%;
    appearance: none;
    cursor: pointer;
    background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg)
        no-repeat right 0.8em center / 1.4em,
      #212529;
    /* Remove focus outline */
    &:focus {
      outline: none;
    }
    /* Remove IE arrow */
    &::-ms-expand {
      display: none;
    }
  }
}

.newTitle {
  padding: 0;
  margin: 0;
}
