$responsive-text-size: clamp(8px, 1vw, 64px);
$responsive-button-size: clamp(0.5rem, 0.5rem + 1vw, 1.3rem);
$responsive-prio-size: clamp(14px, calc(0.5rem + 0.4vw), 64px);
$responsive-padding: clamp(1.4rem, 1rem + 1vw, 2rem);
$responsive-margin: clamp(1rem, 1rem + 1vw, 1.5rem);
.priorityName {
  padding-left: clamp(0.7rem, 0.7rem + 1vw, 1rem);
  font-size: $responsive-text-size;
  margin: 0;
  font-weight: 300;
  align-self: center;
  justify-self: center;
}

.priorityColorContainer {
  background-color: #495057;
  padding: clamp(8px, calc(0.3rem + 0.3vw), 64px);
  outline: 2px solid #6c757d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.priorityColor {
  border-radius: 50%;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.6);
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

.picker {
  padding: 0;
  border: none;
  border-radius: 50%;
  align-self: center;
  cursor: pointer;
}

.priority {
  background-color: #212529;
  border-top: 2px solid #a0b1c3;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#priorities,
#projects {
  margin-bottom: $responsive-margin;
}

#priorities {
  display: flex;
  flex-direction: column;
  gap: clamp(6px, 0.3vw, 12px);

  .priority {
    padding-right: $responsive-padding;
  }
}

.priorityColorContainer {
  .priorityColor {
    height: $responsive-button-size;
    width: $responsive-button-size;
  }
}

.sidebarButtons {
  display: flex;
  flex-direction: column;
  gap: 0.6vw;
}

.hidePriorities {
  display: none;
}
