$big-responsive-text-size: clamp(8px, calc(0.5rem + 0.7vw), 64px);
$big-responsive-button-size: clamp(14px, calc(0.5rem + 0.7vw), 64px);
$small-responsive-text-size: clamp(6px, calc(0.5rem + 0.4vw), 36px);
$small-responsive-button-size: clamp(10px, calc(0.5rem + 0.4vw), 36px);
$responsive-button-size: clamp(0.8rem, 0.5rem + 1vw, 4rem);
.TodosContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 clamp(0.5rem, 0.5rem + 1.5vw, 3rem);
  // padding: 0 clamp(1rem, 1vw + 0.75rem, 3rem);
  overflow-y: auto;
}

.taskContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: clamp(4px, 0.4vw, 8px);
}

.task {
  display: grid;
  background-color: #212529;
  grid-template-columns: min-content 1fr min-content;
  width: 100%;
  // min-width: max-content;
  border-radius: clamp(0.5rem, 1vw + 0.4rem, 1rem);
  overflow: hidden;
  border-top: 2px solid #a0b1c3;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  margin: clamp(0.2rem, 0.2rem + 0.4vw, 1rem) 0;
}

@media (max-width: 260px) {
  .taskTime {
    display: none;
  }
}

.taskButtonsRight {
  justify-self: flex-end;
}

.taskButtons {
  display: flex;
}

.taskMiniContainer {
  background-color: #495057;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: clamp(0.4rem, calc(0.3rem + 0.5vw), 3rem);
  cursor: pointer;
  user-select: none;
}

.priorityButtonMini {
  cursor: auto;
}

.taskColor {
  height: $responsive-button-size;
  width: $responsive-button-size;
  border-radius: 50%;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.6);
}

.taskButton {
  height: $responsive-button-size;
  width: $responsive-button-size;
}

.taskMiniContainer:nth-last-of-type(-n + 2) {
  outline: 2px solid #6c757d;
}

.taskMiniContainer:nth-child(-n + 2) {
  outline: 2px solid #6c757d;
}

.taskTime {
  padding-left: calc(1rem + 1vw);
  padding-right: 10px;

  p {
    white-space: nowrap;
    color: #adb5bd;
  }
}

.taskTitle {
  margin-right: auto;
  flex: 1;
  padding-left: 10px;
  // width: clamp(150px, calc(10vw + 10rem), 500px);
  min-width: 1rem;

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.taskTitle,
.taskTime {
  justify-self: center;
  align-self: center;
  p {
    font-size: $big-responsive-text-size;
    margin: 0;
  }
}

.subtasksContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: flex-end;
  width: 90%;
}

.subtask {
  margin: 0 0 clamp(0.2rem, 0.2rem + 0.4vw, 1rem) 0;
  // justify-content: center;

  .taskMiniContainer {
    padding: clamp(8px, calc(0.4rem + 0.4vw), 48px);

    .taskButton {
      height: $small-responsive-button-size;
      width: $small-responsive-button-size;
    }

    .taskColor {
      width: $small-responsive-button-size;
      height: $small-responsive-button-size;
    }
  }

  .taskTitle,
  .taskTime {
    p {
      font-size: $small-responsive-text-size;
    }
  }
}

.completedTask {
  text-decoration: line-through;
  opacity: 0.6;
  border: none;
  box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.15), inset 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.taskDataContainer {
  display: flex;
  cursor: pointer;
  overflow: hidden;
}

.addSubtask {
  margin-top: 0.3vw;
  align-self: flex-start;
}

#completedTodos > .taskContainer > .subtasksContainer {
  button {
    display: none;
  }
}
