.titleView {
  padding: 0;
  margin: 0;
  user-select: auto;
  overflow-wrap: break-word;
  text-align: center;
  max-width: fit-content;
}

.titleViewContainer {
  display: flex;
  justify-content: center;
  margin: 0 2vw;
}

.descriptionViewContainer {
  margin: 0 1vw;
}

.infoContainer {
  display: grid;
  grid-template-rows: 1fr auto max-content auto max-content;

  .separator {
    height: 1px;
  }

  hr {
    width: 90%;
  }
}

.dateViewContainer {
  display: flex;
  flex-direction: column;
}

h3 {
  margin: 0;
}

.dateStringContainer {
  display: flex;

  p {
    margin: 0;
    font-size: clamp(8px, 1vw, 64px);
    font-weight: 300;
  }
}

.priorityViewContainer {
  display: flex;
  flex-direction: column;

  .priority {
    .taskColor {
      height: clamp(0.5rem, 0.5rem + 1vw, 1rem);
      width: clamp(0.5rem, 0.5rem + 1vw, 1rem);
    }
  }
}

.todoDataContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;

  .priority {
    border: none;
    cursor: auto;
    .priorityName {
      padding-right: 10px;
    }
  }
}

.mainTaskContainer {
  border-bottom: #15181c 2px solid;
}

.mainTaskContainer,
.newContainer,
.newProjectContainer,
.deleteContainer {
  padding: 0 1vw 1vw 1vw;
}

.viewSubContainer {
  border-top: #464e55 2px solid;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    padding: 0;
    margin: 0;
  }
}

.descriptionView {
  max-width: fit-content;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.ButtonsView {
  border-top: #464e55 2px solid;
  display: flex;
  gap: 0.8vw;
  justify-content: center;
  width: 100%;
  padding: 1vw 0;
  position: sticky;
  bottom: 0;
  background-color: #343a40;
}

.headerContainer {
  position: relative;
  .closeButton {
    font-size: calc(0.3rem + 1.5vw);
    position: absolute;
    justify-self: flex-start;
    align-self: flex-start;
    top: 0;
    z-index: 100;
  }
}

.viewTitle,
.viewDescription {
  word-wrap: break-word;
  word-break: break-word;
}

.viewTitle {
  padding: 0 clamp(1.5rem, 1.5rem + 1vw, 4rem);
}
